
<div class="skribbl">
    <h3>Total Word Count : {{wordCount}}</h3>
    <form class="skribbl-form" [formGroup]="newWordForm">
        <mat-form-field class="skribbl-full-width">
        <mat-label>New word</mat-label>
            <input matInput placeholder="Ex. Amputee sex" formControlName="newWord">

        </mat-form-field>
        <div *ngIf="newWord.invalid && (newWord.dirty || newWord.touched)"
        class="alert alert-danger">

        <mat-error *ngIf="newWord.hasError('required')">
            Word cannot be empty.
        </mat-error>
        <mat-error *ngIf="newWord.hasError('maxlength')">
            Word must be 30 characters maximum.
        </mat-error>
        <mat-error *ngIf="newWord.errors.forbiddenName">
            Word cannot be Armel. (Fuck you, don't draw me).
        </mat-error>
        <mat-error *ngIf="newWord.errors.forbiddenValue">
            "REGARDEZ MOI JE SUIS MALIN JE MET DES MOTS AVEC QUE DES ESPACES"
        </mat-error>

    </div>
        <button mat-flat-button color="primary" (click)="addWord()" (keyup.enter)="addWord()" class="button-skribbl-form">Add</button>
        <button mat-flat-button color="accent" (click)="download()" class="button-skribbl-form">Download word list as file</button>
        <button mat-flat-button color="secondary" (click)="getWord()" class="button-skribbl-form">Copy full list to clipboard</button>
    
        <div class="gif"></div>
        <!-- <mat-form-field class="example-full-width">
        <mat-label>Leave a comment</mat-label>
        <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
        </mat-form-field> -->
  </form>

  
  <form (submit)="deleteWord()" class="skribbl-form">
    <mat-form-field class="skribbl-full-width">
        <mat-label>Delete word</mat-label>
        <input matInput [(ngModel)]="wordToDelete" name="deleteWord">
    </mat-form-field>
    <button mat-flat-button color="warn">Delete</button>
 </form>
</div>